In [ ]:
# dictionary
# - indexing 
# - Ordered 
# - multiple and duplicate vlues  
# - mutable

In [ ]:
d = dict()

In [ ]:
#d ={<key>:<value>,<key>:<value>,......}

In [2]:
d = {'a':'apple','b':'ball','c':'cat'}
print(d)
print(type(d))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
<class 'dict'>

In [5]:
d = {'ram':9825563456,'hari':67563456,'shyam':78675443}

for i in d:
    print(i,end = " ")

for i in d.values():
    print("\n",i,end = " ")

for i in d.items():
    print("\n",i,end = " ")

ram hari shyam
 9825563456
 67563456
 78675443
 ('ram', 9825563456)
 ('hari', 67563456)
 ('shyam', 78675443)

In [6]:
d = [['a','apple'],['b','ball']]
dict(d)

{'a': 'apple', 'b': 'ball'}

In [7]:
a = {'a':'apple','b':'ball','c':'cat','a':'car'}
a

{'a': 'car', 'b': 'ball', 'c': 'cat'}

In [ ]:
# no +-*/

In [10]:
# create
d = {}
d['a'] = 'apple'
d['b'] = 'apple'
d['c'] = 'apple'
d['d'] = 'apple'
print(d)

{'a': 'apple', 'b': 'apple', 'c': 'apple', 'd': 'apple'}

In [11]:
d = {}
n = int(input("Enter the n : "))
for i  in range(n):
    name = input("Name: ")
    phone = int(input("Phone: "))
    d[name] = phone

print(d)

Enter the n :  5
Name:  Pawan
Phone:  7867564534
Name:  Jawan
Phone:  67845389
Name:  hajurba
Phone:  6489732954
Name:  ramesh
Phone:  687539735
Name:  ganesh
Phone:  67538967

{'Pawan': 7867564534, 'Jawan': 67845389, 'hajurba': 6489732954, 'ramesh': 687539735, 'ganesh': 67538967}

In [12]:
# list in the dictionary

d = {'a':[1,2,3,4,5],'b':[45,23,45,34]}
print(d)
print(d['b'][3])

{'a': [1, 2, 3, 4, 5], 'b': [45, 23, 45, 34]}
34

In [21]:
# WAP to create a dictionary format 

d = {}
n = int(input("Enter the n : "))
for i  in range(n):
    name = input("Name: ")
    ntc = int(input("NTC Phone: "))
    ncell = int(input("Ncell Phone: "))
    d[name] = [ntc,ncell]

print(d)

Enter the n :  2
Name:  Pawan
NTC Phone:  2345
Ncell Phone:  12234
Name:  ram
NTC Phone:  234
Ncell Phone:  1212

{'Pawan': [2345, 12234], 'ram': [234, 1212]}

In [16]:
# update in dictionary

d = {'ram':9867564534,'shyam':7856785678}

d['ram'] = 10000000       # we can assign the new value directly 
d['rama'] = 89675645      # adding the new key value pair 
print(d)

{'ram': 10000000, 'shyam': 7856785678, 'rama': 89675645}

In [17]:
# delete
# del pop
d = {'ram': 10000000, 'shyam': 7856785678, 'rama': 89675645}
del d['rama']
print(d)

{'ram': 10000000, 'shyam': 7856785678}

In [20]:
# delete
# del pop
d = {'ram': 10000000, 'shyam': 7856785678, 'rama': 89675645}
c = d.pop('rama')  #here the pop() moved the value of 'rama' to 'c'
print(d)
print(c)

{'ram': 10000000, 'shyam': 7856785678}
89675645

In [28]:
# d = {'name':['ram','hari','shyam'],
#         'ntc':[673453,5634535,8967858],'ncell':[563265,3452646,56326435]}

#make the following data format 

name = []
ntc = []
ncell = []
d = {'name':name,'ntc': ntc,'ncell': ncell}


n = int(input("No of people: "))

for i in range(n):
    n = input("Name: ")
    p1 = int(input("Ntc no: "))
    p2 = int(input("Ncell no: "))
    name.append(n)
    ntc.append(p1)
    ncell.append(p2)

d = {'name':name,'ntc': ntc,'ncell': ncell}
print(d)

No of people:  5
Name:  Ram
Ntc no:  7856453423
Ncell no:  5645342345
Name:  SHyam
Ntc no:  6756453445
Ncell no:  4534456756
Name:  Hari
Ntc no:  675645344556
Ncell no:  675645344556
Name:  Ramesh
Ntc no:  5645566756
Ncell no:  8978670090
Name:  Ayush
Ntc no:  675645566756
Ncell no:  786756675645

{'name': ['Ram', 'SHyam', 'Hari', 'Ramesh', 'Ayush'], 'ntc': [7856453423, 6756453445, 675645344556, 5645566756, 675645566756], 'ncell': [5645342345, 4534456756, 675645344556, 8978670090, 786756675645]}

In [29]:
print(d['name'][0],d['ntc'][0],d['ncell'][0])

Ram 7856453423 5645342345

In [31]:
# dict inside dict

d = { 1:{'name':'ram','age':24,'add':'kathmandu'},2:{'name':'shyam','age': 34,'add':'bhaktapur'}}
print(d)
print(d[1])
print(d[1]['name'])

{1: {'name': 'ram', 'age': 24, 'add': 'kathmandu'}, 2: {'name': 'shyam', 'age': 34, 'add': 'bhaktapur'}}
{'name': 'ram', 'age': 24, 'add': 'kathmandu'}
ram

In [44]:
# WAP to create the dict inside dict like above and do crude operation(edit/delete/add)

n = int(input("No of peoples - "))
d = {}
for i in range(1,n+1):
    info = {}
    info['name'] = input("name -")
    info['age'] = int(input("Age - "))
    info['add'] = input("Add - ")
    d[i] = info

print(d)

No of peoples -  5
name - Ram
Age -  23
Add -  Ktm
name - Shyam
Age -  45
Add -  brt
name - Gita
Age -  23
Add -  Damak
name - Sita
Age -  67
Add -  Mechi
name - Hari
Age -  56
Add -  Butwal

{1: {'name': 'Ram', 'age': 23, 'add': 'Ktm'}, 2: {'name': 'Shyam', 'age': 45, 'add': 'brt'}, 3: {'name': 'Gita', 'age': 23, 'add': 'Damak'}, 4: {'name': 'Sita', 'age': 67, 'add': 'Mechi'}, 5: {'name': 'Hari', 'age': 56, 'add': 'Butwal'}}

In [3]:
d = {1: {'name': 'Ram', 'age': 23, 'add': 'Ktm'}, 2: {'name': 'Shyam', 'age': 45, 'add': 'brt'}, 3: {'name': 'Gita', 'age': 23, 'add': 'Damak'}, 4: {'name': 'Sita', 'age': 67, 'add': 'Mechi'}, 5: {'name': 'Hari', 'age': 56, 'add': 'Butwal'}}

# changing brt to Biratnagar/ktm to kathmandu
d[1]['add'] = 'Kathmandu'
d[2]['add'] = 'Biratnagar'

#changing the name (Gita - Giteshowri)/(Hari - Hariram Krishna)
d[3]['name'] = 'Giteshowri'
d[5]['name'] = 'Hariram Krishna'

print(d)

{1: {'name': 'Ram', 'age': 23, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 45, 'add': 'Biratnagar'}, 3: {'name': 'Giteshowri', 'age': 23, 'add': 'Damak'}, 4: {'name': 'Sita', 'age': 67, 'add': 'Mechi'}, 5: {'name': 'Hariram Krishna', 'age': 56, 'add': 'Butwal'}}

In [17]:
#WAP to create billing application using list inside list and dictionary inside dictionary and do Crude operation 

n = int(input("No of different items - "))

s = []

for i in range(n):
    l = []
    item_name = input("Item name - ")
    price = int(input("Price - "))
    quan = int(input("Quantity - "))
    l = [item_name,price,quan]
    s.append(l)

print (s)

print("\nThe bill for your items is:")

index = 0 
T = 0
for i in range(n):
    total = s[index][1]*s[index][2]
    print(f"{s[index][0]} \t \t {s[index][1]} X {s[index][2]} -------------- {total}")
    T = T + total
    index+=1

print(f"\n Total ------------------Rs. {T} |-")

No of different items -  5
Item name -  Sugar
Price -  100
Quantity -  4
Item name -  Maida
Price -  80
Quantity -  5
Item name -  Rice
Price -  1900
Quantity -  2
Item name -  Oil
Price -  200
Quantity -  4
Item name -  Honey
Price -  545
Quantity -  2

[['Sugar', 100, 4], ['Maida', 80, 5], ['Rice', 1900, 2], ['Oil', 200, 4], ['Honey', 545, 2]]

The bill for your items is:
Sugar 	 	 100 X 4 -------------- 400
Maida 	 	 80 X 5 -------------- 400
Rice 	 	 1900 X 2 -------------- 3800
Oil 	 	 200 X 4 -------------- 800
Honey 	 	 545 X 2 -------------- 1090

 Total ------------------Rs. 6490 |-

In [2]:
l = [['Sugar', 200, 4], ['Rice', 1900, 2], ['Maida', 200, 4], ['Onion', 80, 4], ['Oil', 200, 5]]

# adding an item to the list 
print("add the missing item to the bill")
item_name = input("Item name - ")
price = int(input("Price - "))
quan = int(input("Quantity - "))
m = [item_name,price,quan]
l.append(m)

# correcting the price for maida (200 - 100)/rice(1900 - 1545)
l[2][1] = 100
l[1][1] = 1545

#removing 1 kg sugar from the bill 
l[0][2] = 3 

print(l)

print("\nThe new bill for your items is:")

index = 0 
T = 0
for i in range(len(l)):
    total = l[index][1]*l[index][2]
    print(f"{l[index][0]} \t \t {l[index][1]} X {l[index][2]} -------------- {total}")
    T = T + total
    index+=1

print(f"\n Total ------------------Rs. {T} |-")

add the missing item to the bill

Item name -  Honey
Price -  545
Quantity -  3

[['Sugar', 200, 3], ['Rice', 1545, 2], ['Maida', 100, 4], ['Onion', 80, 4], ['Oil', 200, 5], ['Honey', 545, 3]]

The new bill for your items is:
Sugar 	 	 200 X 3 -------------- 600
Rice 	 	 1545 X 2 -------------- 3090
Maida 	 	 100 X 4 -------------- 400
Onion 	 	 80 X 4 -------------- 320
Oil 	 	 200 X 5 -------------- 1000
Honey 	 	 545 X 3 -------------- 1635

 Total ------------------Rs. 7045 |-

In [8]:
# WAP to create tuple inside tuple

n = int(input("No of people - "))
t = ()

for i in range(n):
    name = input("Name - ")
    age = int(input("Age - "))
    add = input("Address - ")
    person = (name,age,add)
    t = t + (person,)

print(t)

li = []
index = 0
for j in range(len(t)):
    r = list(t[index])
    li.append(r)
    index+=1

No of people -  5
Name -  Ram
Age -  34
Address -  Kathmandu
Name -  Hari
Age -  56
Address -  Biratnagar
Name -  Umesh
Age -  10
Address -  Nagur
Name -  Shweta
Age -  45
Address -  Kanpur
Name -  Sheetal
Age -  23
Address -  Hariudwar

(('Ram', 34, 'Kathmandu'), ('Hari', 56, 'Biratnagar'), ('Umesh', 10, 'Nagur'), ('Shweta', 45, 'Kanpur'), ('Sheetal', 23, 'Hariudwar'))

In [11]:
t = (('Ram', 34, 'Kathmandu'), ('Hari', 56, 'Biratnagar'), ('Umesh', 10, 'Nagur'), ('Shweta', 45, 'Kanpur'), ('Sheetal', 23, 'Hariudwar'))

# changing tuple inside tuple to list inside list

print(t)
li = []
index = 0
for j in range(len(t)):
    r = list(t[index])
    li.append(r)
    index+=1
    
print(li)

(('Ram', 34, 'Kathmandu'), ('Hari', 56, 'Biratnagar'), ('Umesh', 10, 'Nagur'), ('Shweta', 45, 'Kanpur'), ('Sheetal', 23, 'Hariudwar'))
[['Ram', 34, 'Kathmandu'], ['Hari', 56, 'Biratnagar'], ['Umesh', 10, 'Nagur'], ['Shweta', 45, 'Kanpur'], ['Sheetal', 23, 'Hariudwar']]

In [16]:
# WAP to convert tuple inside tuple to list inside list and vice versa

t = (('Harish', 34, 'Kathmandu'), ('Soniya', 56, 'Biratnagar'), ('Sandesh', 10, 'Nagur'), ('Ramana', 45, 'Kanpur'), ('Sheetal', 23, 'Hariudwar'))
l = [['Ram', 34, 'Kathmandu'], ['Hari', 56, 'Biratnagar'], ['Umesh', 10, 'Nagur'], ['Shweta', 45, 'Kanpur'], ['Sheetal', 23, 'Hariudwar']]

print(t)
print(l)


li = []
index = 0
for j in range(len(t)):
    r = list(t[index])
    li.append(r)
    index+=1
    
print("\n\n",li)


tu = ()
index = 0
for i in range(len(l)):
    k = tuple(l[index])
    tu = tu + (k,)
    index+=1
    
print(tu)

(('Harish', 34, 'Kathmandu'), ('Soniya', 56, 'Biratnagar'), ('Sandesh', 10, 'Nagur'), ('Ramana', 45, 'Kanpur'), ('Sheetal', 23, 'Hariudwar'))
[['Ram', 34, 'Kathmandu'], ['Hari', 56, 'Biratnagar'], ['Umesh', 10, 'Nagur'], ['Shweta', 45, 'Kanpur'], ['Sheetal', 23, 'Hariudwar']]


 [['Harish', 34, 'Kathmandu'], ['Soniya', 56, 'Biratnagar'], ['Sandesh', 10, 'Nagur'], ['Ramana', 45, 'Kanpur'], ['Sheetal', 23, 'Hariudwar']]
(('Ram', 34, 'Kathmandu'), ('Hari', 56, 'Biratnagar'), ('Umesh', 10, 'Nagur'), ('Shweta', 45, 'Kanpur'), ('Sheetal', 23, 'Hariudwar'))

In [20]:
#WAP to create billing application using list inside list and dictionary inside dictionary and do Crude operation 

n = int(input("No of different items - "))

s = {}

for i in range(1,n+1):
    l = {}
    l['name'] = input("Item name - ")
    l['price'] = int(input("Price - "))
    l['quan'] = int(input("Quantity - "))
    s[i] = l
    

print (s)

print("\nThe bill for your items is:")

index = 1
T = 0
for i in range(n):
    total = s[index]['price']*s[index]['quan']
    print(f"{s[index]['name']} \t \t {s[index]['price']} X {s[index]['quan']} -------------- {total}")
    T = T + total
    index+=1

print(f"\n Total ------------------Rs. {T} |-")

No of different items -  5
Item name -  Sugar
Price -  200
Quantity -  4
Item name -  Maida
Price -  300
Quantity -  2
Item name -  Rice
Price -  1545
Quantity -  2
Item name -  Oil
Price -  400
Quantity -  1
Item name -  Honey
Price -  454
Quantity -  2

{1: {'name': 'Sugar', 'price': 200, 'quan': 4}, 2: {'name': 'Maida', 'price': 300, 'quan': 2}, 3: {'name': 'Rice', 'price': 1545, 'quan': 2}, 4: {'name': 'Oil', 'price': 400, 'quan': 1}, 5: {'name': 'Honey', 'price': 454, 'quan': 2}}

The bill for your items is:
Sugar 	 	 200 X 4 -------------- 800
Maida 	 	 300 X 2 -------------- 600
Rice 	 	 1545 X 2 -------------- 3090
Oil 	 	 400 X 1 -------------- 400
Honey 	 	 454 X 2 -------------- 908

 Total ------------------Rs. 5798 |-