In [1]:
#file handling 
# read and write for basic files using python

# syntax
# file = open('<file_name>','<mode>')
# file.close()

In [1]:
file = open('data.txt','x')  # creates the txt file named data.txt with the mode create 
file.close()

In [3]:
file = open('data.txt','r')  # creates the txt file named data.txt with the mode create 
data = file.read()

print(data)
file.close()

print(type(data))

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World
<class 'str'>

In [5]:
l = data.split('\n')
print(l)
print(l[1])

['1. Hello World', '2. Hello World', '3. Hello World', '4. Hello World', '5. Hello World']
2. Hello World

In [6]:
file = open('data1.txt','w')  # here w is used in mode for writing
file.write("Hello World")

file.close()

In [9]:
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Product name : ")
    price = int(input("Price : "))
    quan = int(input("Quantity : "))
    total = price*quan
    bill = bill + f"{name}\t\t{price} X {quan} \t {total}\n"

file = open('bill.txt','w')
file.write("\nYounghang Kirana Store\n\n")
file.write("Name\t\t Price X Qty. \t Total\n")
file.write(bill)
file.close()

Enter n =  5
Product name :  Sugar
Price :  234
Quantity :  3
Product name :  Maida
Price :  345
Quantity :  2
Product name :  Waiwai
Price :  67
Quantity :  23
Product name :  Rice
Price :  1230
Quantity :  2
Product name :  Oiol
Price :  100
Quantity :  2

In [11]:
file = open('bill.txt','r') 
data = file.read()
print(data)
file.close()

Younghang Kirana Store

Name		 Price X Qty. 	 Total
Sugar		234 X 3 	 702
Maida		345 X 2 	 690
Waiwai		67 X 23 	 1541
Rice 		1230 X 2 	 2460
Oiol		100 X 2 	 200

In [18]:
list_data = data.split('\n')[1:-1]
print(list_data)
for i in list_data:
    print(i.split('\t'))

['Younghang Kirana Store', '', 'Name\t\t Price X Qty. \t Total', 'Sugar\t\t234 X 3 \t 702', 'Maida\t\t345 X 2 \t 690', 'Waiwai\t\t67 X 23 \t 1541', 'Rice \t\t1230 X 2 \t 2460', 'Oiol\t\t100 X 2 \t 200']
['Younghang Kirana Store']
['']
['Name', '', ' Price X Qty. ', ' Total']
['Sugar', '', '234 X 3 ', ' 702']
['Maida', '', '345 X 2 ', ' 690']
['Waiwai', '', '67 X 23 ', ' 1541']
['Rice ', '', '1230 X 2 ', ' 2460']
['Oiol', '', '100 X 2 ', ' 200']

In [21]:
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Product name : ")
    price = int(input("Price : "))
    quan = int(input("Quantity : "))
    total = price*quan
    bill = bill + f"{name},{price},{quan},{total}\n"

file = open('bill.csv','w')
file.write("Name,Price,Qty.,Total\n")
file.write(bill)
file.close()

Enter n =  2
Product name :  Sugar
Price :  450
Quantity :  2
Product name :  Oil
Price :  200
Quantity :  6

In [22]:
pwd

'C:\\Users\\pawan\\A Data Science with Python Training'

In [26]:
import pandas as pd
df = pd.read_csv('bill.csv')

df

    Name  Price  Qty.  Total
0  Sugar    450     2    900
1    Oil    200     6   1200