In [ ]:
# python collection
# list 
# ordered
# multiple and duplicate data 
# mutable

In [1]:
a = list()
b = [23,45,34,56,]
print(type(b))

<class 'list'>

In [2]:
a = ['apple','ball','cat','dog','elephant']
print(a[0])
print(a[0:3])
print(a[0:4:2])

apple
['apple', 'ball', 'cat']
['apple', 'cat']

In [3]:
b = [23,45,34,56,23,45,567,56]
print(b)

[23, 45, 34, 56, 23, 45, 567, 56]

In [4]:
a = ['apple','ball','cat','dog','elephant','apple','cat']
print(a)

['apple', 'ball', 'cat', 'dog', 'elephant', 'apple', 'cat']

In [5]:
b = [23,45,34,56,23,45,567,56]
a = ['apple','ball','cat','dog','elephant','apple','cat']
print(a+b)
print(a*2)

['apple', 'ball', 'cat', 'dog', 'elephant', 'apple', 'cat', 23, 45, 34, 56, 23, 45, 567, 56]
['apple', 'ball', 'cat', 'dog', 'elephant', 'apple', 'cat', 'apple', 'ball', 'cat', 'dog', 'elephant', 'apple', 'cat']

In [6]:
a = ['apple','ball','cat','dog','elephant','apple','cat']

for i in a:
    print(i)

apple
ball
cat
dog
elephant
apple
cat

In [8]:
l = [ ]
n = int(input("Enter n = "))

for i in range(n):
    X = int(input("Enter x = "))
    l.append(X)
print(l)

Enter n =  5
Enter x =  2
Enter x =  34
Enter x =  56
Enter x =  67
Enter x =  79

[2, 34, 56, 67, 79]

In [14]:
l = [23,34,45,23,45.56,23,45,657,78.34,89,89,56,565,456,34]
print("Min Value = ",min(l))
print("Min Value = ",max(l))
print("Sum Value = ",sum(l))
print("Average Value = ", sum(l)/n)
l.sort()
print(l)

l.reverse()
print(l)

Min Value =  23
Min Value =  657
Sum Value =  2262.9
Average Value =  452.58000000000004
[23, 23, 23, 34, 34, 45, 45, 45.56, 56, 78.34, 89, 89, 456, 565, 657]
[657, 565, 456, 89, 89, 78.34, 56, 45.56, 45, 45, 34, 34, 23, 23, 23]

In [1]:
l = [ ]
n = int(input("Enter n = "))

for i in range(n):
    X = (input("Enter x = "))
    l.append(X)
print(l)

Enter n =  5
Enter x =  cat
Enter x =  dog
Enter x =  yammer
Enter x =  hello
Enter x =  janu

['cat', 'dog', 'yammer', 'hello', 'janu']

In [3]:
l.sort()
print(l)

['cat', 'dog', 'hello', 'janu', 'yammer']

In [4]:
l = ['cat', 'dog', 'hello', 'janu', 'yammer']
l.insert(1,'apple')
print(l)

['cat', 'apple', 'dog', 'hello', 'janu', 'yammer']

In [5]:
l = ['cat', 'apple', 'dog', 'hello', 'janu', 'yammer']
b = [1,2,3,4,5]
l.extend(b)
print(l)

['cat', 'apple', 'dog', 'hello', 'janu', 'yammer', 1, 2, 3, 4, 5]

In [8]:
# update
l = ['cat', 'apple', 'dog', 'hello', 'janu', 'yammer']
l[1] = 'sexy'
l[3:4] = ['how','women']

print(l)

['cat', 'sexy', 'dog', 'how', 'women', 'janu', 'yammer']

In [10]:
l = ['cat', 'apple', 'dog', 'hello', 'janu', 'yammer']
del l[0]

print(l)

['apple', 'dog', 'hello', 'janu', 'yammer']

In [11]:
l = ['cat', 'apple', 'dog', 'hello', 'janu', 'yammer']
del l[0:3]

print(l)

['hello', 'janu', 'yammer']

In [12]:
l = ['cat', 'apple', 'dog', 'hello', 'janu', 'yammer']
l.remove("cat")
print(l)

['apple', 'dog', 'hello', 'janu', 'yammer']

In [14]:
l = ['Apple', 'apple', 'dog', 'hello', 'janu', 'Apple']
c = l.count("Apple")
for i in range(c):
    l.remove("Apple")

print(l)

['apple', 'dog', 'hello', 'janu']

In [16]:
l = ['Apple', 'apple', 'dog', 'hello', 'janu', 'Apple']

for i in range(len(l)):
    print(i,l[i])

0 Apple
1 apple
2 dog
3 hello
4 janu
5 Apple

In [18]:
l = ['Apple', 'apple', 'dog', 'hello', 'janu', 'Apple']

for i in range(len(l)):
    if l[i] == "Apple":
        print(i)

0
5

In [19]:
l = ['Apple', 'apple', 'dog', 'hello', 'janu', 'Apple']

l.pop(3)

print(l)

['Apple', 'apple', 'dog', 'janu', 'Apple']