In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl (15.4 MB)
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.4 MB 435.7 kB/s eta 0:00:36
   ---------------------------------------- 0.1/15.4 MB 563.7 kB/s eta 0:00:28
   ---------------------------------------- 0.2/15.4 MB 1.0 MB/s eta 0:00:16
    --------------------------------------- 0.3/15.4 MB 1.5 MB/s eta 0:00:10
   - -------------------------------------- 0.5/15.4 MB 2.1 MB/s eta 0:00:08
   -- ------------------------------------- 1.0/15.4 MB 3.3 MB/s eta 0:00:05
   ---- ----------------------------------- 1.8/15.4 MB 5.0 MB/s eta 0:00:03
   ------- -------------------------------- 3.0/15.4 MB 7.7 MB/s eta 0:00:02
   ------------ --------------------------- 4.8/15.4 MB 10.9 MB/s eta 0:00:01
   --------------- ------------------------ 5.9/15.4 MB 11.7 MB/s eta 0:00:01
   --------------------- ------------------ 8.4/15.4 MB 15.7 MB/s eta 0:00:01
   --------------------------- ------------ 10.7/15.4 MB 29.7 MB/s eta 0:00:01
   --------------------------------- ------ 12.9/15.4 MB 43.7 MB/s eta 0:00:01
   --------------------------------- ------ 12.9/15.4 MB 36.4 MB/s eta 0:00:01
   ----------------------------------- ---- 13.6/15.4 MB 34.4 MB/s eta 0:00:01
   ----------------------------------- ---- 13.6/15.4 MB 34.4 MB/s eta 0:00:01
   ----------------------------------- ---- 13.6/15.4 MB 34.4 MB/s eta 0:00:01
   -------------------------------------- - 14.7/15.4 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.4 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.4 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------- 15.4/15.4 MB 20.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [3]:
import mysql.connector 
#importing database

database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "import_export"
)

db = database.cursor()

In [10]:
#selecting all data 
db.execute("SELECT * FROM rice_import WHERE price>=2000")
result = db.fetchall()

for i in result:
    print(i)

(1, 'Basmati Rice', 300, 4500, 56000.0, 'N/A')
(3, 'Haryali Rice', 1000, 2545, 45008.0, 'have to ship in next 6 months')
(4, 'Chattisgrah Basmati Rice', 11000, 2545, 45008.0, 'have to ship in next 6 months')
(5, 'Pubjabi Gulzar Rice', 900, 2700, 65008.0, 'N/A')
(6, 'Chattisgrah Rice', 600, 3100, 6169.0, '10% discount to be availed for new customers')
(7, 'Pahade Rice', 1200, 4500, 75000.0, 'N/A')

In [14]:
#adding new rows in the database using jupyter
sql = '''INSERT INTO rice_import(Name,Quantity,Price,total,remarks)
 VALUES ("Chirakhe Rice",5000,2300,78000,'N/A')'''
db.execute(sql)
database.commit()

In [16]:
#updating the existing values in the database
sql = '''Update rice_import SET name = 'Chirikha rice' WHERE name = "Chirakhe rice"'''
db.execute(sql)
database.commit()

In [25]:
#deleting the existing values in the database
sql = '''DELETE FROM rice_import WHERE SNo = 12'''
db.execute(sql)
database.commit()

In [33]:
#WAP programme to add the data from user into the database 

list = ['new','old']
print("Please specify if you are a new user")
user = input("New or Old user ?").lower()

for i in list:
    if user == list[0]:
        name = input("Rice name : ")
        quantity = int(input("Quantity : "))
        price = int(input("Price : "))
        total = int(input("Total : "))
        remarks = input("Remarks : ")
        sql = f'''INSERT INTO rice_import (Name,Quantity,Price,total,remarks)
         VALUES ('{name}',{quantity},{price},{total},'{remarks}')'''
        db.execute(sql)
        database.commit()
        break
    else:
        print("Data already saved")

Please specify if you are a new user

New or Old user ? NEW
Rice name :  Jeera Rice
Quantity :  1200
Price :  4500
Total :  90000
Remarks :  N/A