In [2]:
#nested lists 
a = [[1,2,3],[2,3,4],[3,4,5]]

print(a)
print(type(a))

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]
<class 'list'>

In [10]:
a = [['name','age','add'],
     ['ram',32,'kathmandu'],
     ['shyam',45,'berlin'],
    ['Hari',34,'new york']]

print(type(a))
print(a)
print(len(a))
print(a[2])
print(a[2][0])

<class 'list'>
[['name', 'age', 'add'], ['ram', 32, 'kathmandu'], ['shyam', 45, 'berlin'], ['Hari', 34, 'new york']]
4
['shyam', 45, 'berlin']
shyam

In [11]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Name : ")
    age = int(input("Age : "))
    add = input("Add : ")
    data = [name,age,add]
    l.append(data)

print(l)

Enter n =  3
Name :  Pawan
Age :  45
Add :  Kathmandu
Name :  Sunil
Age :  45
Add :  Mangseybung
Name :  Pabitra
Age :  34
Add :  Khogi

[['Pawan ', 45, 'Kathmandu'], ['Sunil', 45, 'Mangseybung'], ['Pabitra', 34, 'Khogi ']]

In [22]:
a = [['name','age','add'],
     ['ram',32,'kathmandu'],
     ['shyam',45,'berlin'],
    ['Hari',34,'new york'],
    ['Ram',56,'Damak'],
    ['Ramesh',56,'Biratnagar']]
name = input("Enter name : ").lower()
for i in a:
    if name in i[0].lower():
        print(i)

Enter name :  Ram

['ram', 32, 'kathmandu']
['Ram', 56, 'Damak']
['Ramesh', 56, 'Biratnagar']

In [31]:
a = [['name','age','add'],
     ['ram',32,'kathmandu'],
     ['shyam',45,'berlin'],
    ['Hari',34,'new york'],
    ['Ram',56,'Damak'],
    ['Ramesh',56,'Biratnagar']]
name = input("Enter name : ").lower()
index = 0
for i in a:
    if name == i[0].lower():
        print(f"{i} and the index is {index}")
    index+=1

Enter name :  Ram

['ram', 32, 'kathmandu'] and the index is 1
['Ram', 56, 'Damak'] and the index is 4

In [27]:
a = ['ram','hari','shayam', 'pushpa','ramlal']
for i in a:
    print(i)

ram
hari
shayam
pushpa
ramlal

In [30]:
a = ['ram','hari','shayam', 'pushpa','ramlal','RAM','Ram','Ganesh']
l = len(a)
name = input("Enter name : ").lower()
for i in range(l):
    if name == a[i].lower():
        print(i)

Enter name :  RAM

0
5
6

In [32]:
a = [['name','age','add'],
     ['ram',32,'kathmandu'],
     ['shyam',45,'berlin'],
    ['Hari',34,'new york'],
    ['Ram',56,'Damak'],
    ['Ramesh',56,'Biratnagar']]
name = input("Enter name : ").lower()
l = len(a)
for i in range(l):
    if name == a[i][0].lower():
        print(f"{name} is at the index {i}")

Enter name :  Ram

ram is at the index 1
ram is at the index 4

In [51]:
# write a program to create matrix in python

i = int(input("No of rows - "))
j = int(input("No of cols - "))

matrix = []

for n in range(i):
    row = []
    for n in range(j):
        r = int(input("Enter the value - "))
        row.append(r)
    matrix.append(row)
print(matrix)

No of rows -  2
No of cols -  5
Enter the value -  1
Enter the value -  2
Enter the value -  3
Enter the value -  4
Enter the value -  5
Enter the value -  6
Enter the value -  7
Enter the value -  8
Enter the value -  9
Enter the value -  10

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]