In [2]:
a = 'Hello world'
b = "Hello world"
c = '''Hello world'''

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [4]:
a = 'hello\t'
b = 'world'
print(a+b)
print(a*2)

hello	world
hello	hello

In [7]:
a = 'python'
l = len(a)
for i in range(l):
    print(a[i])

p
y
t
h
o
n

In [16]:
a = 'hello'
print(a[2])
print(a[-5])
print(a[0:2])
print(a[0:4:2])
print(a[::-1])
print(a[-1:-5:-1])

l
h
he
hl
olleh
olle

In [17]:
# string formatting 

name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = f"I am {name}. I am from {add}. I am {age} years old."
print(info)

Enter name =  Pawan
Enter age =  27
Enter add =  Kathnmanbdu

I am Pawan . I am from Kathnmanbdu. I am 27 years old.

In [27]:
a = "Ram hari shyam gita anit".lower()
search = input("Enter the search value = ").lower()
if search in a:
    print("yes")
    print(a.count(search))
else:   
    print("no")

Enter the search value =  i

yes
3

In [22]:
a = "hello I am pawan"
search = "hello"

print(a.count(search))

1

In [29]:
# replace

a = "Ram hari shyam gita anit Ramesh"
a = a.replace("Ram","Rama")

print(a)

a = a.replace("hari","")

print(a)

Rama hari shyam gita anit Ramaesh
Rama  shyam gita anit Ramaesh

In [2]:
# split 
# it will create the list of the struing characters seperated by the space _

a = "Ram hari shyam gita anit Ramesh"

a.split()

print(a.split())

['Ram', 'hari', 'shyam', 'gita', 'anit', 'Ramesh']