In [ ]:
#while loop

In [ ]:
# while <condition>:
#    <operation>

In [4]:
a = 0
while a <= 5:
    print(a,"MOther Teresa")
    a = a + 1

0 MOther Teresa
1 MOther Teresa
2 MOther Teresa
3 MOther Teresa
4 MOther Teresa
5 MOther Teresa

In [5]:
a = 1
while a <= 10:
    print(a,"MOther Teresa")
    a = a + 2

1 MOther Teresa
3 MOther Teresa
5 MOther Teresa
7 MOther Teresa
9 MOther Teresa

In [7]:
s = 0
n = 5 
for i in range(n):
    x = int(input("Enter = X "))
    s = s + x
print(s)

Enter = X  1000
Enter = X  2000
Enter = X  3000
Enter = X  4000
Enter = X  5000

15000

In [8]:
s = 0 
n = 5 
i = 0
while i < 5 :
    x = int(input("Enter X = "))
    s = s + x
    i +=1

print(s)

Enter X =  1000
Enter X =  2000
Enter X =  3000
Enter X =  4000
Enter X =  5000

15000

In [10]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name =")
    phone = input("Phone no =")
    s = s + name + " " + phone + "\n"

print(s)

Enter n =  2
Enter name = Pawan
Phone no = 9805922673
Enter name = Ronisha
Phone no = 9805674523

Pawan 9805922673
Ronisha 9805674523

In [11]:
s = str()
n = int(input("Enter n ="))
i = 0
while i < n:
    name = input("Enter name -- ")
    phone = input("Enter phone --")
    s = s + name + " " + phone + "\n"
    i +=1
print(s)

Enter n = 2
Enter name --  Pawan
Enter phone -- 9805922673
Enter name --  Ronisha
Enter phone -- 8790785634

Pawan 9805922673
Ronisha 8790785634

In [1]:
i = 0 
n = 10 
while i<n:
    if i == 5:
        break
    print(i, end =" ")
    i += 1

0 1 2 3 4

In [1]:
i = 0 
n = 10 
while i<n:
    if i == 5:
        i += 1
        continue
    print(i, end =" ")
    i = i + 1

0 1 2 3 4 6 7 8 9

In [5]:
num = int(input("Enter a number: "))
for i in range(2, num):
    if num % i == 0:
        print("The number is composite")
        break
else:
    print("The number is prime")

Enter a number:  10

The number is composite

In [12]:
n = int(input(" Enter the value -- "))
s=1
for i in range(1,n+1):
    s = s*i
    print("The factorial of ", i, " is ", s)
print(s)

 Enter the value --  12

The factorial of  1  is  1
The factorial of  2  is  2
The factorial of  3  is  6
The factorial of  4  is  24
The factorial of  5  is  120
The factorial of  6  is  720
The factorial of  7  is  5040
The factorial of  8  is  40320
The factorial of  9  is  362880
The factorial of  10  is  3628800
The factorial of  11  is  39916800
The factorial of  12  is  479001600
479001600